@import "tailwindcss";

/* 
html, body {
  overscroll-behavior: none !important;
  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
  

  -webkit-overflow-scrolling: touch !important;
  overflow-anchor: none !important;
  

  background-color: #0f172a !important;
  min-height: 100vh !important;
  height: 100% !important;
}

* {
  overscroll-behavior: none !important;
  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
}


[class*="overflow-auto"], 
[class*="overflow-scroll"],
[class*="overflow-y-auto"],
[class*="overflow-x-auto"] {
  overscroll-behavior: none !important;
  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  

  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
   */